@model Aromas.MVC.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserViewModel</h4>
<hr />
@using (Html.BeginForm())
{
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-dark bold uppercase"> Editar usuário </span>
            </div>
            <div class="actions">
                <a href="/Setting/User" class="btn btn-default"> Voltar </a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-11 col-lg-5">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-3" })

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @*TODO:Implement this when Policies is added*@
                        @*<div class="form-group">
            @Html.LabelFor(model => model.PolicyId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("PolicyId", null, "Selecione um Perfi", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PolicyId, "", new { @class = "text-danger" })
            </div>
        </div>*@
                        <input hidden value="@Model.Id" />
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <div class="mt-checkbox-list" style="padding: 5px 0 0 22px;">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        @Html.EditorFor(model => model.Active)
                                        @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CreatedAt, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.CreatedAt, "{0:dd/MM/yyyy HH:mm}", htmlAttributes: new { @class = "form-control date-timepicker", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @if (Model.UpdatedAt != null)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.UpdatedAt, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.UpdatedAt, "{0:dd/MM/yyyy HH:mm}", htmlAttributes: new { @class = "form-control date-timepicker", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.UpdatedAt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="User" method="post">-->
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <!--<div class="form-group">
                <label asp-for="Id" class="control-label">Id</label>
                <input asp-for="Id" class="form-control" value="@Model.Id" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Surname</label>
                <input asp-for="Surname" class="form-control" value="@Model.Surname" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" value="@Model.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" value="@Model.Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" value="@Model.Active.ToString()" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label">Created at</label>
                <input asp-for="CreatedAt" class="form-control" value="@Model.CreatedAt" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label">Updated at</label>
                <input asp-for="UpdatedAt" class="form-control" value="@Model.UpdatedAt" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>-->

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
